<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <hr>
   <div class="row">
      <div class="col-12">
        <h1 class="float-left">Cervejas</h1>
        <a routerLink="/beers/new" class="btn btn-lg btn-success float-right">
          Adicionar Novo</a>
      </div>
   </div>
  <br>
  <hr>
  <table class="table">
    <thead>
      <th>Nome</th>
      <th>Marca</th>
      <th>Tipo</th>
      <th>
        Ações
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let b of beers">
        <td>{{b.name}}</td>
        <td>{{b.price|currency:'BRL':'R$ '}}</td>
        <td>{{b.type}}</td>
        <td width="25%">
          <a [routerLink]="['/beers/edit', b.id]" (click)="edit(b)" class="btn btn-sm btn-primary">EDITAR</a>
          <button (click)="remove(b)" class="btn btn-sm btn-danger">REMOVER</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
